/*menu section*/
#menu{
    padding:25px 0 25px 0;
}
#section{
    padding:25px 0 25px 0;
    text-align:center;
    font-size:2rem;
    font-family: Verdana;
}
#menu_row{
    display: flex;
    padding: 0 50px 0 50px;
}
#menu_col{
    box-shadow: 3px 3px 3px #361919;
    border: 1px solid #643e3e;
    background-color: rgb(220, 225, 201,0.7);
    margin:50px;
    padding: 15px;
    border-radius: 25px;
    flex:1;
}
#menu_col h2{
   background-color:rgb(177, 137, 137);
   color:white;
   text-align: center;
   padding: 5px;
   font-family: cursive;
}
#image{
    width: 250px;
    height: 200px;
    border-radius: 25px;
    padding: 5px;
    border:2px solid orange;
}

#image img{
    width: 100%;
    height:100%;
    border-radius: 25px;
    object-fit: cover;    
}
.box{
     display: flex;
     flex-direction:column;
     align-items: center;
     text-align: center;
     margin: 20px;
}
input{
    width: 100px;
    height: 30px;
    padding: 5px;
    background-color: rgb(220, 201, 177);
    text-align: center;
    border-radius: 25px;
}
input:hover{
    background-color: rgb(116, 9, 9,0.8);
}
@media screen and(max-width:768px) {
    #menu_row{
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }
    
}
